<h2 class='edit-details'>Edit Your Trip's Details</h2>

<% if @trip.errors.any? %>
  <ul class='errors'>
  <% @trip.errors.each do |column, message| %>
    <li>
      <strong><%= column.upcase %></strong> <%= message %>
    </li>
  <% end %>
  </ul>
<% end %>

<section class = 'form'>
  <%= form_with model: @trip, class: 'trip-form' do |f| %> 
  <section class='date'>
    <%= f.label :date %>
    <%= f.date_field :date %> 
  </section>

  <section>
    <%= f.label :cost %>
    <%= f.text_field :cost, placeholder: "enter in cents" %> 
  </section>

  <section>
    <%= f.label :rating %>
    <%= f.select :rating, [[nil,nil],[1,1],[2,2],[3,3],[4,4],[5,5],] %>
  </section>

  <%= f.submit "Update Trip", class: "trip-button" %>
  <% end %>
</section>