<h1>Trip Show Page</h1>

<p>ID: <%=@trip.id%></p>
<p>Date: <%=@trip.date%></p>
<p>Rating: <%= @trip.rating %></p>
<%# either display the rating, OR display the drop down menu with a link to submit it %>

<p>Cost: <%=@trip.cost%></p>
<p>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id)%></p> 


<p>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver.id)%></p>

<%= link_to "edit", edit_trip_path(@trip.id)%>
<%= link_to "delete", trip_path(@trip.id), method: :delete%>


