<h1>Passenger Show Page</h1>

<p>Name: <%=@passenger.name%></p>
<p>Phone Number: <%=@passenger.phone_num%></p>
<p>Total Spent: <%= number_to_currency(@passenger.total_spent) %> </p>

<%= link_to "edit", edit_passenger_path(@passenger.id)%>
<%= link_to "delete", passenger_path(@passenger.id), method: :delete%>

<h3>Trips:</h3>
<%= link_to "create new trip", passenger_trips_path(@passenger.id), method: :post%>

<table>                         
  <tr>                          
    <th>ID</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Driver</th>
  </tr>
<% @passenger.trips.each do |trip|  %>
  <tr>
    <td><%= link_to trip.id, trip_path(trip.id) %></td>
    <td><%= trip.date %></td> 
    <td><%= trip.rating %></td> 
    <td><%= number_to_currency(Trip.display_dollars(trip.cost)) %></td> 
    <td><%= link_to trip.driver.name, driver_path(trip.driver.id) %></td>

  </tr>
<% end %>
</table> 
