<h2 class='user-title'>Add a Driver's Details</h2>

<% if @driver.errors.any? %>
  <ul class='errors'>
  <% @driver.errors.each do |column, message| %>
    <li>
      <strong><%= column.upcase %></strong> <%= message %>
    </li>
  <% end %>
  </ul>
<% end %>


<section class = 'form'>
  <%= form_with model: @driver, class: 'driver-form' do |f| %> 
  <section>
    <%= f.label :name %>
    <%= f.text_field :name %> 
  </section>

  <section>
    <%= f.label :vin %>
    <%= f.text_field :vin %>
  </section>

  <%= f.submit "Add Driver", class: "driver-button" %>
  <% end %>
</section>