<h1><%=@driver.name%></h1>
<p><%=@driver.vin%></p>
<p><%=@driver.available%></p>

<%= link_to "edit", edit_driver_path(@driver.id)%>
<%= link_to "delete", driver_path(@driver.id), method: :delete%>

<h3>Trips:</h3>
<table>
  <tr>
    <th>id</th>
    <th>date</th>
    <th>rating</th>
    <th>cost</th>
    <th>passenger</th>
    <%# <th>driver</th> %>
  </tr>
  <% @driver.trips.each do |trip|  %>
    <tr>
      <td><%= link_to trip.id, trip_path(trip.id)%></td>
      <td><%=trip.date%></td>
      <td><%=trip.rating%></td>
      <td><%=trip.cost%></td>
      <td><%= link_to trip.passenger.name, passenger_path(trip.passenger.id)%></td> 
    </tr> 
  <% end %>
</table>


